<div class="grid grid-rows-[auto,1fr] h-screen">

  <nav class="bg-[#292929] p-2 text-white flex justify-between">
    <div class="flex gap-3 items-center">
      <span class="font-bold">Lucky Cookies</span>
      <div class="w-7" title="Clique para ver a sua sorte.">
        <img src="../assets/img/trevo.png" alt="Foto Biscoito">
      </div>
    </div>
    <ul class="flex justify-end gap-1">
      <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">HOME</a></li>
      <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">LOGIN</a></li>
    </ul>
  </nav>

  <div class="bg-[#f1f2f2] flex justify-center items-center">
    <router-outlet></router-outlet>
  </div>
</div>