<div class="flex-col gap-8 w-screen h-screen bg-[#e9d4a6] flex justify-center items-center">
  <div class="w-[30rem] h-[30rem] border-8 border-gray-200 bg-white gap-3 flex flex-col items-center justify-center text-black rounded-full shadow-xl shadow-neutral-500 p-10">
    <div class="w-full min-h-10 p-3 text-black text-center bg-gray-200">
      <p class="font-fonte text-red-500" *ngIf="mostrarFrase">{{ fraseAleatoria }}</p>
    </div>
    <div class="w-48">
      <img src='{{ urlImagem }}' alt="Biscoito">
    </div>
  </div>
  <div>
    <button (click)="exibirFrase()" class="font-semibold rounded-md p-2 text-white bg-[#edb845] hover:bg-[#fab153] outline-none">VER MINHA SORTE</button>
  </div>
</div>