<div class="gap-8 h-full flex justify-center">
  <div class="relative w-96 h-96 border-8 border-gray-200 bg-white gap-3 flex flex-col items-center justify-center text-black rounded-full shadow-xl shadow-neutral-500">
    
    <div class="text-gray-700 text-center bg-gray-200 absolute top-8 rounded-lg">
      <p class="p-2" *ngIf="mostrarFrase">{{ fraseAleatoria }}</p>
    </div>

    <button (click)="exibirFrase()" class="w-48 absolute bottom-10" title="Clique para ver a sua sorte.">
      <img  src="../assets/img/biscoito.png" alt="Foto Biscoito">
    </button>
    
  </div>
</div>


