<div class="flex justify-center items-center relative">
<h2 *ngIf="falhaLogin" class="text-center text-red-500 font-semibold absolute -bottom-8">Usuário ou senha incorretos.</h2>
    <div class="w-full max-w-md bg-white rounded-lg shadow-md p-8">
        <h1 class="text-center text-gray-800 text-2xl font-semibold mb-6 mr-20 ml-20">Fazer Login</h1>
        <form action="#" method="post" class="space-y-4">
            <div>
                <label for="usuario" class="block text-gray-600 mb-1">Usuário:</label>
                <input type="text" id="usuario" name="usuario" [(ngModel)]="usuario" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#292929]" required>
            </div>
            <div>
                <label for="senha" class="block text-gray-600 mb-1">Senha:</label>
                <input type="password" id="senha" name="senha" [(ngModel)]="senha" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-[#292929]" required>
            </div>
            <button (click)="fazerLogin()" type="submit" class="w-full bg-[#292929] text-white rounded-md py-2 transition-colors duration-300 hover:bg-[#121212]">Enviar</button>
        </form>
    </div>
</div>
